<template name="estimates">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="btn-group" id="invite-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-invite"></span> Invite <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" id="invite-link-a">
                Send this URL: <input id="invite-link" type="text" value=""/>
              </a>
            </li>
          </ul>
        </div>
        {{#if userName}}
          <div class="btn-group clear-user-div">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> {{userName}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#" class="clear-user">
                  <span class="glyphicon glyphicon-off"></span> Leave Session
                </a>
              </li>
            </ul>
          </div>
        {{/if}}
      </h3>
    </div>
    <div class="panel-body">
      {{#with openEstimate}}
        <div class="estimate open-estimate">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class="visible-xs-block">
                  {{#if hasName name}}
                    {{name}}
                  {{/if}}&nbsp;
                </div>
                <div class="estimate-name hidden-xs">
                  {{#if hasName name}}
                    {{name}}
                  {{else}}
                    <span class="glyphicon glyphicon-edit"></span> Edit Estimate name
                  {{/if}}
                  &nbsp;
                </div>
                <div class="hidden-xs">
                  <div class="estimate-edit">
                    <form>
                      <input type="text" class="form-control" id="estimatename" name="estimatename" placeholder="Estimate name (optional)" />
                    </form>
                  </div>
                </div>
              </h4>
            </div>
            <div class="panel-body points">
              <div class="visible-xs-block">
                <button type="button" class="btn btn-default btn-lg btn-block point2">1</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">2</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">3</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">5</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">8</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">13</button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">
                  &infin;
                </button>
                <button type="button" class="btn btn-default btn-lg btn-block point2">
                  Back to Product
                </button>
              </div>
              <div class="btn-group hidden-xs" role="group">
                <button type="button" class="btn btn-default point">1</button>
                <button type="button" class="btn btn-default point">2</button>
                <button type="button" class="btn btn-default point">3</button>
                <button type="button" class="btn btn-default point">5</button>
                <button type="button" class="btn btn-default point">8</button>
                <div class="btn-group" role="group">
                   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     More
                     <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu">
                     <li><a href="" class="dd-point">13</a></li>
                     <li><a href="" class="dd-point">&infin;</a></li>
                     <li><a href="" class="dd-point">Back to Product</a></li>
                   </ul>
                 </div>
              </div>
            </div>
            <ul class="list-group">
              {{> users id=_id}}
              <li class="list-group-item hidden-xs">
                <button type="button" class="btn btn-info btn-md new-estimate">
                  Another Estimate <span class="glyphicon glyphicon-repeat"></span>
                </button>
                <button type="button" class="btn btn-info btn-md show-points">
                  Show Points <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </li>
              <li class="list-group-item visible-xs-block">
                <button type="button" class="btn btn-info btn-lg btn-block new-estimate2">
                  Another Estimate <span class="glyphicon glyphicon-repeat"></span>
                </button>
              </li>
              <li class="list-group-item visible-xs-block">
                <button type="button" class="btn btn-info btn-lg btn-block show-points">
                  Show Points <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      {{/with}}

      {{#each closedEstimates}}
        <div class="estimate closed-estimate">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">{{name}}&nbsp;</h4>
            </div>
            <ul class="list-group">
              {{> points id=_id}}
             <!--  <li class="list-group-item">
                <span class="badge">{{consensus id}}</span>
                <b>Consensus</b>
              </li> -->
            </ul>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
