<template name="info">
  <div id="about" class="panel panel-info about">
    <div class="panel-heading">
      <h3 class="panel-title">
        About Estimation Poker
        <button type="button" class="close about-btn" data-target="#about" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <p><b>Estimate tasks with your team without influencing each other.</b></p>
      <p>Invite participants using the Invite button.
         Once everyone has joined, <b>communicate the task or ticket
         that needs to be estimated</b>. Click on 'Edit Estimate Name'
         to set the title/name of the current Estimate. Everyone will
         be able to see this.</p>
      <p>Have the participants <b>vote using the points</b>. No one will
         be able to see the points until everyone has voted or the
         Show Votes button is clicked.</p>
      <p>To estimate on another ticket or task click Another Estimate.
         The current estimate will shift below so you can keep a
         history on how the votes went</p>
      <p>
        <div class="alert alert-warning" role="alert">
          <strong>New! Vote with a Keypress:</strong>
          Are you the <strong>moderator</strong> and are <strong>sharing your screen</strong>?
          Do you feel self-conscious when voting, knowing that people
          will be able to see you click, thus get influenced and derail the whole
          process. Well, fear not! You can now use your keyboard to vote:
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Key</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Control-1</td><td>1</td></tr>
              <tr><td>Control-2</td><td>2</td></tr>
              <tr><td>Control-3</td><td>3</td></tr>
              <tr><td>Control-5</td><td>5</td></tr>
              <tr><td>Control-8</td><td>8</td></tr>
              <tr><td>Control-t</td><td>13</td></tr>
              <tr><td>Control-i</td><td>&infin;</td></tr>
              <tr><td>Control-b</td><td>Back to Product</td></tr>
            </tbody>
          </table>
        </div>
      </p>
    </div>
  </div>
</template>
