<template name="users">
  <li class="list-group-item">
    <span class="badge points-header">
      <b>Points</b>
    </span>
    <span class="glyphicon glyphicon-user"></span>
    <b>Users</b>
  </li>
  {{#each connectedUsers}}
    <li class="list-group-item">
      <span class="badge">
        {{#if showPoint}}
          <span class="points-text">{{userPoints username}}</span>
        {{else}}
          {{#if hasPoint username}}
            <span class="glyphicon glyphicon-question-sign glyph-big"></span>
          {{else}}
            <span class="glyphicon glyphicon-minus glyph-big"></span>
          {{/if}}
        {{/if}}
      </span>
      {{username}}
    </li>
  {{/each}}
</template>
