.point {
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #666;;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
}

.user {
  padding: 8px;
  -webkit-border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}

.user input[type="text"] {
  width: 150px;
}

.epic {
  width: 250px;
  padding: 15px;
  margin: 5px;
  border: 1px solid #ddd;
}

.open-epic {
   background: #77dd77;
   position: relative;
}

.open-epic .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.closed-epic {
   background: #eee;
}
