html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.clear-user-div {
  float: right;
}

.info {
  cursor: pointer;
}

.about {
  display: none;
}

.newly-minted {
  background-color:transparent;
  -moz-transition:background-color 2s;
  -webkit-transition:background-color 2s;
  -o-transition:background-color 2s;
  transition:background-color 2s;

}

.points-text {
  font-size: 14px;
}

.new-estimate {
  float: right;
}

.about {
  margin-top: 20px;
}

.newly-minted-with-bg-color {
  background-color: gold;
}

.points-header {
  font-size: 14px;
}

.glyph-big {
  font-size: 20px;
}

.point {
  width: 100px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.points {
  text-align: center;
}

.point-label {
  font-weight: bold;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.user {
  margin-bottom: 15px;
}

.estimate {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

#invite-link {
  width: 300px;
}

.estimate-name {
  cursor: text;
}

.estimate-edit {
  display: none;
}

.open-estimate {
   position: relative;
}

.create-estimate {
  float: right;
  cursor: pointer;
}

.closed-estimate {
}

.estimate .list-group-item:first-child {
  margin-top: 12px;
}

.estimate .list-group-item {
  background: inherit;
}

.estimate .badge {
  background: #fff;
  color: #000;
  font-weight: normal;
}
