<head>
  <title>estimation-poker</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
  <div class="container">
   {{> info}}
   {{> user}}
   {{> estimates}}
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">by <a href="https://twitter.com/s_thai" target="_blank">@s_thai</a> |
      <a href="#" class="about-btn">about</a> |
      <a href="https://github.com/sri/estimation-poker/issues" target="_blank">issues, bugs</a>
      </p>
    </div>
  </footer>
</body>
